<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Enter name" %>
  </div>
  <div class="field">
    <%= f.number_field :price, :placeholder => "Enter price" %>
  </div>
  <%= f.select :style, ["Quick","Sit Down"] %> </br>
  <button class="btn btn-primary btn-sm" type="submit">Add!</button>
<% end %>