<%= render 'layouts/logged_in_header' %>
<% provide(:title, @current_user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for(@current_user) %>
        <%= @current_user.name %>
      </h1>
    </section>
    <div align="center" style="border: 2px solid green; border-radius: 25px; padding: 20px">
      <h2><span class="label label-default">Add a Restaurant!</span></h2>
      <%= render 'restaurants/form' %>
      </br>
      <% if flash[:create] %>
        <div class="alert-temp alert fade in alert-success"><%= flash[:create] %></div>
      <% end %>
    </div>

    </br>
    <div align="center" style="border: 2px solid green; border-radius: 25px; padding: 20px">
      <h2><span class="label label-default">Restaurant List</span></h2>


      <% @restaurants.each do |restaurant| %>
        <%= restaurant.name %> - ~$<%= restaurant.price %>
        <%= link_to "delete", restaurant, method: :delete,
                                       data: { confirm: "You sure?" } %> </br>
      <% end %>



      <% if flash[:destroy] %>
        <div class="alert-temp alert fade in alert-info"><%= flash[:destroy] %></div>
      <% end %>
    </div>
  </aside>
  </div>
  <div class="clearfix"></div>
</div>